<br>
<div class="inserimentoPrenotazione">
  <form [formGroup]="myForm" (ngSubmit)="inserisciPrenotazione()" style="margin-left: 10%; margin-right: 60%; width: 210px;">
    <div></div>
    <mat-form-field class="example-full-width">
      <mat-label for="nome">Codice prestazione</mat-label>
      <input class="form-control" matInput type="text" formControlName="codiceprestazione" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label for="nome">Id paziente</mat-label>
      <input class="form-control" matInput type="text" formControlName="idpaziente" required>
    </mat-form-field>
    <div></div>
    <mat-form-field>
      <input class="form-control" [matDatepicker]="picker" matInput type="text" placeholder="Data della prenotazione" formControlName="dataprenotazione" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ora</mat-label>
      <mat-select formControlName="oraprenotazione">
        <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" style="right: 50%;left: 50%; position: relative;">Invia</button>
  </form>
  <div *ngIf="myForm.invalid">Form is invalid</div>
  <div *ngIf="myForm.valid">Form is valid</div>
  <pre>{{ myForm.value | json }}</pre>
</div>
